<header>
    <div class="container">
        <a id="logo" asp-page="/index"><img src="images/Silicon Logotype - Light Mode.svg" alt=""></a>
        <div id="menu">
            <nav>
                <a class="menu-link" asp-page="/index">Overview</a>
                <a class="menu-link" asp-page="/index">Features</a>
                <a class="menu-link" asp-page="/contact">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <span class="slider around"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            <a class="btn-gray" asp-page="/Signin"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
            <a class="btn-theme" asp-page="/Signup"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
        </div>

    </div>
</header>